body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0; /* 淺灰色背景 */
    font-family: Arial, sans-serif;
}

#app {
    text-align: center;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #4caf50; /* 綠色按鈕 */
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

#result {
    font-size: 24px;
    margin-top: 20px;
}
